NODE_RED_URL=https://violet-beaver-178312.hostingersite.com
JWT_SECRET=knjjpPII8j4/mwrueuteXecremS+fNSG1sEKi2g8QCuBzxD8dudD/LueqNtQoFp7

NEXT_PUBLIC_REGISTO_ENDPOINT=/api/residentes/registar
NEXT_PUBLIC_LOGIN_ENDPOINT=/api/residentes/login
